.search-main-title .image > img {
    width: 100%;
    height: 667px;
    animation: imageLoadTransition 3s;
    transform: scaleX(-1);
}

@keyframes imageLoadTransition
{
    0% {
        filter: opacity(0);
    }

    50% {
        filter: opacity(0.5);
    }

    100% {
        filter: opacity(0.9);
    }
}

.search-main-title .title {
    position: absolute;
    top: 130px;
    margin: 28px;
    margin-bottom: 5px;
}

.search-main-title .title > h2 {
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.search-main-title .title .city-province > input {
    border-radius: 31px;
    border: 1px solid darkgray;
    width: 250px;
    padding: 10px;
    margin-top: 7px;
    /*background-image: url("../../../assets/searchMainTitle/img/search-icon.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-color: darkgray;*/
    /*background-size: contain;*/
}

.search-main-title .title .city-province > button {
    margin: 7px;
    padding: 10px;
    border-radius: 31px;
    background-color: transparent;
    color: #218cff;
    border: 1px solid darkgray;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.search-main-title .subtitle > h4 {
    font-style: italic;
    font-size: large;
    font-weight: 300;
    color: darkgray;
    /*text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);*/
    width: 550px;
}