.estate-image {
    width: 576px;
    align-items: center;
}

/*=========*/
/*CAROUSEL*/
/*=======*/

.carousel {
    width: 77%;
    margin: auto;
}

.carousel-inner {
    border-radius: 10px;
    width: 77%;
    margin: auto;
    transition: all 400ms ease-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-inner:hover {
    transition: all 400ms ease-out;
    box-shadow: 0 4px 8px 0 rgba(32, 140, 255, 0.2), 0 6px 20px 0 rgba(32, 140, 255, 0.19);
}

.carousel.slide {
    display: inline-flex;
    animation: transitionIn 0.75s;
}


/*============================*/
/*CAROUSEL CONTROL INDICATORS*/
/*==========================*/

.carousel-indicators li {
    opacity: 0.3;
}


/*========================*/
/*CAROUSEL CONTROL BTNS*/
/*========================*/

.carousel-control-prev-icon {
    background-color: grey;
    border-radius: 48px;
    background-size: 19px;
    padding: 15px;
    opacity: 0.1;
}

.carousel-control-prev-icon:hover {
    opacity: 0.3;
    transition: opacity 400ms ease-in;
}

.carousel-control-next-icon {
    background-color: grey;
    border-radius: 48px;
    background-size: 19px;
    padding: 15px;
    opacity: 0.1;
}

.carousel-control-next-icon:hover {
    opacity: 0.3;
    transition: opacity 400ms ease-in;
}


/*===============*/
/*ESTATE GALLERY*/
/*=============*/

.estate-gallery {
    display: flex;
    margin: auto;
    max-width: 1679px;
    max-height: 610px;
}

/*========================*/
/*SIDE IMAGES OF CAROUSEL*/
/*========================*/

.side-image-container {
    width: 16.5%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.side-image {
    width: 260.5%;
    position: relative;
    z-index: -1;
    filter: blur(21px);

    animation: transitionIn 0.75s;
}


@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}