.estate-price {
    margin: 17px;
    float: right;
}

.estate-price > .card {
    background: transparent;
    height: auto;
    width: 307px;
}

.estate-price .card-body {
    padding: 20px;
    height: fit-content;
    border-radius: 31px 31px 0px 0px;
}

.estate-price .card-title.h5{
    text-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);
}

.estate-price .card-subtitle.h6  {
    display: inline-flex;
}

.estate-price .card-subtitle .btn  {
    margin: 3px;
    padding: 0px 3px 0px 3px;
    cursor: pointer;
    background: grey;
    border: transparent;
}

.estate-price .card-subtitle .btn:active  {
    background: #007bff;
    border: transparent;
}

.estate-price .card-text {
    color: red;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    float: right;
    transition: opacity .5s ease-out;
}

.estate-price .list-group-flush.list-group {
    border-radius: 31px 31px 0px 0px;
}

.estate-price > .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 31px;
    border-bottom-left-radius: 31px;
}

.estate-price .price-events.event {
    border-radius: 31px;
    /*background: lightcoral;*/
    width: fit-content;
    /*padding: 0px 4px 0px 4px;*/
    background-color: #FFE53B;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    -webkit-background-clip: text;
    color: transparent;

}

.estate-price .price-events.date {
    display: inline-flex;
}

.estate-price .price-events.price {
    color: lightgrey;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    float: right;
    transition: color 400ms ease-out;
}

.estate-price .price-events.price:hover {
    color: lightcoral;
    transition: color 400ms ease-out;
}
