.unit {
    display: contents;
    font-size: xx-large;
    margin-left: 0.7%;
    text-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);
}

.estate-name-config {
    display: inline-block;
    margin: 17px;
}

.estateConfig {
    display: inline-flex;
    margin-left: 0.7%;
}

.city {
    margin-left: 0.7%;
}

.config-type {
    margin: 5px;
    padding-right: 10px;
}

.config-text {
    padding: 18.3%;
}