body {
    margin: 0;
    padding: 0;
}
:root {
    --web-view-ids: Web_1920___1;
}
#Web_1920___1 * {
    margin: 0;
    padding: 0;
}
#Web_1920___1 {
    position: absolute;
    box-sizing: border-box;
    background: #E5E5E5;
    width: 1920px;
    height: 1080px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 1;
    --web-view-name: Web 1920 – 1;
    --web-view-id: Web_1920___1;
    --web-scale-to-fit: true;
    --web-enable-deep-linking: true;
}
#Rectangle_1 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 140px;
    height: 60px;
    left: 1730px;
    top: 32px;
}
#Path_1 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_1 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 31px;
    left: 1566px;
    width: 140px;
    height: 60px;
}
#LOGIN {
    opacity: 1;
    position: absolute;
    left: 1753px;
    top: 42px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 96px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
#SIGN_UP {
    opacity: 1;
    position: absolute;
    left: 1573px;
    top: 42px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 125px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
#Line_1 {
    opacity: 0.367;
    fill: transparent;
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    top: 31.5px;
    left: 1530.5px;
    width: 3px;
    height: 58.034px;
}
#Buy {
    opacity: 1;
    position: absolute;
    left: 1111px;
    top: 42px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 56px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
#Sell {
    opacity: 1;
    position: absolute;
    left: 1199px;
    top: 42px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
#Help {
    opacity: 1;
    position: absolute;
    left: 1431px;
    top: 42px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
#Contact {
    opacity: 1;
    position: absolute;
    left: 1284px;
    top: 43px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 115px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
#Rectangle_2 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(221, 221, 221);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 146px;
    height: 101px;
    left: 66px;
    top: 20px;
}
#Silver_Realty {
    opacity: 1;
    position: absolute;
    left: 40px;
    top: 44px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 200px;
    white-space: nowrap;
    text-align: left;
    font-family: SignPainter;
    font-style: normal;
    font-weight: normal;
    font-size: 49px;
    color: rgba(0,0,0,1);
}
#A_Higher_Form_of_Realty {
    opacity: 1;
    position: absolute;
    left: 80px;
    top: 90px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 119px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: rgba(0,0,0,1);
}
#Rectangle_3 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 1802px;
    height: 473px;
    left: 67px;
    top: 184px;
}
#MAP {
    opacity: 1;
    position: absolute;
    left: 928px;
    top: 384px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(0,0,0,1);
}
#Rectangle_5 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 376px;
    height: 343px;
    left: 66px;
    top: 709px;
}
#Rectangle_6 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 376px;
    height: 343px;
    left: 541.164px;
    top: 710px;
}
#Rectangle_7 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_7 {
    position: absolute;
    overflow: visible;
    width: 376px;
    height: 343px;
    left: 1016.328px;
    top: 710px;
}
#Rectangle_8 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 376px;
    height: 343px;
    left: 1491.5px;
    top: 710px;
}
#Line_2 {
    opacity: 0.373;
    fill: transparent;
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_2 {
    overflow: visible;
    position: absolute;
    top: 955.5px;
    left: 66.5px;
    width: 376px;
    height: 1px;
}
#Line_3 {
    opacity: 0.373;
    fill: transparent;
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3 {
    overflow: visible;
    position: absolute;
    top: 956.5px;
    left: 541.672px;
    width: 376px;
    height: 1px;
}
#Line_4 {
    opacity: 0.373;
    fill: transparent;
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_4 {
    overflow: visible;
    position: absolute;
    top: 956.5px;
    left: 1016.836px;
    width: 376px;
    height: 1px;
}
#Line_5 {
    opacity: 0.373;
    fill: transparent;
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_5 {
    overflow: visible;
    position: absolute;
    top: 956.5px;
    left: 1492px;
    width: 376px;
    height: 1px;
}
#Ellipse_1 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_1 {
    position: absolute;
    overflow: visible;
    width: 64px;
    height: 60px;
    left: 107px;
    top: 926px;
}
#Ellipse_8 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_8 {
    position: absolute;
    overflow: visible;
    width: 64px;
    height: 60px;
    left: 581.375px;
    top: 927px;
}
#Ellipse_12 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_12 {
    position: absolute;
    overflow: visible;
    width: 64px;
    height: 60px;
    left: 1055.237px;
    top: 927px;
}
#Ellipse_16 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_16 {
    position: absolute;
    overflow: visible;
    width: 64px;
    height: 60px;
    left: 1532.5px;
    top: 927px;
}
#Image {
    opacity: 1;
    position: absolute;
    left: 211px;
    top: 844px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(0,0,0,1);
}
#Image_A0_Text_11 {
    opacity: 1;
    position: absolute;
    left: 686.778px;
    top: 845px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(0,0,0,1);
}
#Image_A0_Text_12 {
    opacity: 1;
    position: absolute;
    left: 1160.716px;
    top: 845px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(0,0,0,1);
}
#Image_A0_Text_13 {
    opacity: 1;
    position: absolute;
    left: 1615px;
    top: 845px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(0,0,0,1);
}
#Sale_Type {
    opacity: 1;
    position: absolute;
    left: 113px;
    top: 949px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,1);
}
#Sale_Type_A0_Text_15 {
    opacity: 1;
    position: absolute;
    left: 587.406px;
    top: 950px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,1);
}
#Sale_Type_A0_Text_16 {
    opacity: 1;
    position: absolute;
    left: 1061.227px;
    top: 950px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,1);
}
#Sale_Type_A0_Text_17 {
    opacity: 1;
    position: absolute;
    left: 1538.5px;
    top: 950px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,0,0,1);
}
#Estate_Cover_Info {
    opacity: 1;
    position: absolute;
    left: 147px;
    top: 1001px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 217px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(0,0,0,1);
}
#Estate_Cover_Info_A0_Text_19 {
    opacity: 1;
    position: absolute;
    left: 622.545px;
    top: 1002px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 217px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(0,0,0,1);
}
#Estate_Cover_Info_A0_Text_20 {
    opacity: 1;
    position: absolute;
    left: 1096.976px;
    top: 1002px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 217px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(0,0,0,1);
}
#Estate_Cover_Info_A0_Text_21 {
    opacity: 1;
    position: absolute;
    left: 1572.5px;
    top: 1002px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 217px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(0,0,0,1);
}
#Ellipse_2 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_2 {
    position: absolute;
    overflow: visible;
    width: 11px;
    height: 10px;
    left: 410px;
    top: 734px;
}
#Ellipse_7 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_7 {
    position: absolute;
    overflow: visible;
    width: 11px;
    height: 10px;
    left: 887.866px;
    top: 735px;
}
#Ellipse_11 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_11 {
    position: absolute;
    overflow: visible;
    width: 11px;
    height: 10px;
    left: 1361.552px;
    top: 735px;
}
#Ellipse_15 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_15 {
    position: absolute;
    overflow: visible;
    width: 11px;
    height: 10px;
    left: 1835.5px;
    top: 735px;
}
#Ellipse_3 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_3 {
    position: absolute;
    overflow: visible;
    width: 11px;
    height: 10px;
    left: 410px;
    top: 752px;
}
#Ellipse_6 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_6 {
    position: absolute;
    overflow: visible;
    width: 11px;
    height: 10px;
    left: 887.866px;
    top: 753px;
}
#Ellipse_10 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_10 {
    position: absolute;
    overflow: visible;
    width: 11px;
    height: 10px;
    left: 1361.552px;
    top: 753px;
}
#Ellipse_14 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_14 {
    position: absolute;
    overflow: visible;
    width: 11px;
    height: 10px;
    left: 1835.5px;
    top: 753px;
}
#Ellipse_4 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_4 {
    position: absolute;
    overflow: visible;
    width: 11px;
    height: 10px;
    left: 410px;
    top: 770px;
}
#Ellipse_5 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_5 {
    position: absolute;
    overflow: visible;
    width: 11px;
    height: 10px;
    left: 887.866px;
    top: 771px;
}
#Ellipse_9 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_9 {
    position: absolute;
    overflow: visible;
    width: 11px;
    height: 10px;
    left: 1361.552px;
    top: 771px;
}
#Ellipse_13 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_13 {
    position: absolute;
    overflow: visible;
    width: 11px;
    height: 10px;
    left: 1835.5px;
    top: 771px;
}
#Line_6 {
    opacity: 1;
    fill: transparent;
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_6 {
    overflow: visible;
    position: absolute;
    top: 689.5px;
    left: 421.5px;
    width: 49.632px;
    height: 40.775px;
}
#Share_Save_Show_On_Map {
    opacity: 1;
    position: absolute;
    left: 480px;
    top: 664px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 84px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(0,0,0,1);
}
#Line_7 {
    opacity: 1;
    fill: transparent;
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_7 {
    overflow: visible;
    position: absolute;
    top: 1001.5px;
    left: 415.5px;
    width: 55px;
    height: 1px;
}
#Open_Estate__Page {
    opacity: 1;
    position: absolute;
    left: 471px;
    top: 986px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 62px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: rgba(0,0,0,1);
}
#Ellipse_17 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_17 {
    position: absolute;
    overflow: visible;
    width: 49px;
    height: 46px;
    left: 1780px;
    top: 597px;
}
#Ellipse_18 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_18 {
    position: absolute;
    overflow: visible;
    width: 49px;
    height: 46px;
    left: 1718px;
    top: 597px;
}
#_ {
    opacity: 0.429;
    position: absolute;
    left: 1790px;
    top: 583px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 31px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(0,0,0,1);
}
#__A0_Text_25 {
    opacity: 0.429;
    position: absolute;
    left: 1733px;
    top: 583px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 21px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(0,0,0,1);
}
#Rectangle_9 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_9 {
    position: absolute;
    overflow: visible;
    width: 327px;
    height: 48px;
    left: 797px;
    top: 121px;
}
#Search_City_ {
    opacity: 0.368;
    position: absolute;
    left: 839px;
    top: 132px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 144px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(0,0,0,1);
}