.modal-xl {
    height: 90%;
    width: 100%;
}

.modal-90w {
    width: 90%;
    max-width: none;
}

.modal-content, .modal-dialog {
    height: 90%;
}

.carousel {
    width: 63%;
    margin: auto;
}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}