.estate-open-day{
    display: inline-flex;
}

.estate-open-day .card {
    width: auto;
    height: auto;
    border-radius: 11px;
    margin: 11px;
    margin-left: 0px;
}

.estate-open-day .card-title {
    display: inline-flex;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.estate-open-day .card-title .num-open-days{
    margin-left: 4px;
    padding: 4px;
    background: red;
    color: white;
    font-size: xx-small;
    border-radius: 100%;
    height: fit-content;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.estate-open-day .card-body {
    width: fit-content;
    height: fit-content;
    border-radius: 11px;
}

.estate-open-day .open-day-details .day {
    display: inline-flex;
    margin-right: 11px;

    background-color: #FFE53B;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    -webkit-background-clip: text;
    color: transparent;

    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.estate-open-day .open-day-details .time {
    display: inline-flex;
    color: lightgrey;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    transition: color 400ms ease-out;
}

.estate-open-day .open-day-details .time:hover {
    color: lightcoral;
    transition: color 400ms ease-out;
}