.estates-holder .title {
    display: inline-flex;
    margin: 28px;
    margin-bottom: 5px;
}

.estates-holder .title > h3 {
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.estates-holder .city-province-viewer {
    display: inline-flex;
    float: right;
    margin: 18px;
    margin-right: 170px;
}

.estates-holder .city-province-viewer .btn {
    padding: 10px;
    background-color: transparent;
    color: #218cff;
    border-color: darkgray;
    border-radius: 29px;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.estates-holder .city-province-viewer .btn .fas.fa-map-marker {
    margin-right: 7px;
    font-size: larger;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.estates-holder .subtitle {
    margin: 28px;
    margin-top: 0px;
}

.estates-holder .subtitle > h5  {
    font-style: italic;
    font-weight: 300;
    color: darkgray;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.estate-cards {
    width: -webkit-fill-available;
    display: inline-flex;
    overflow-x: scroll;
    padding-left: 17px;
    padding-top: 11px;
    padding-bottom: 16px;
    text-align: center;

    /*padding-left: 17px;*/
    /*padding-right: 17px;*/
    /*         or        */
    margin-left: 17px;
    margin-right: 17px;
}

.estate-cards::-webkit-scrollbar {
    width: 3px;
    background: transparent; /* make scrollbar transparent */
}

.cards {
    display: inline-flex;
    white-space: nowrap;
}