.estate-overview {
    margin: 17px;
}

@media all and (width: 375px) {
    .estate-overview {
        display: inline-flex;
    }
    /*or change the width of the card, later*/
}

.estate-overview .estate-general-standing > .card {
    width: auto;
    height: auto;
    border-radius: 11px;
    margin-left: 0px;
}

.estate-overview .estate-general-standing > .card >.card-body {
    width: auto;
    height: auto;
    padding: 7px;
    border-radius: 11px;
}

.estate-overview .estate-general-standing .card-title {
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 5px;
}

.estate-overview .estate-general-standing .card-title .far.fa-heart:hover {
    color: #FF2525;
}

.red {
    color: #FF2525;
}

.estate-overview .estate-general-standing .card-subtitle.h6 {
    text-align: center;
}

.estate-overview .estate-description {
    margin: 0px;
}