.estate-listing-agent {
    display: inline-flex;
}

.estate-listing-agent .card {
    border-radius: 11px;
    height: auto;
    width: auto;
    margin: 11px;
    margin-left: 0px;
    /*margin: 7px 0px 5px 0px;*/
}

.estate-listing-agent .card .card-body {
    border-radius: 11px;
    padding: 9px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

.estate-listing-agent .card-title {
    margin: 0px;
}

.estate-listing-agent .card-title .company-image {
    display: contents;
}

.estate-listing-agent .card-title .company-image img {
    width: 80px;
    height: 40px;
    margin: 3px 11px 0px 3px;
}

.estate-listing-agent .card-title .company-name {
    display: contents;
    font-size: x-small;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.estate-listing-agent .card-title .salesperson-name {
    font-size: small;
}


/*.estate-listing-agent .card-subtitle .company-image {*/
/*    display: contents;*/
/*}*/

/*.estate-listing-agent .card-subtitle .company-image img {*/
/*    margin: 3px 11px 0px 3px;*/
/*}*/