.estate-facts {
    margin: 17px;
}

.estate-facts .title {
    margin: 7px 0px 5px 17px;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.estate-facts .main-facts {
    display: inline-flex;
    overflow-x: scroll;
    width: -webkit-fill-available;
    padding-left: 17px;
    padding-top: 11px;
    padding-bottom: 16px;
}

.estate-facts .main-facts .fact {
    display: inline-flex;
    margin: 11px;
    margin-left: 0px;
    margin-top: 3px;
    border-radius: 11px;
    padding: 5px;

    transition: all 400ms ease-out;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.estate-facts .main-facts .fact:hover {
    transition: all 400ms ease-out;
    box-shadow: 0 4px 8px 0 rgba(32, 140, 255, 0.2), 0 6px 20px 0 rgba(32, 140, 255, 0.19);
}

.estate-facts .main-facts .fact .key {
    padding-right: 5px;
}

.estate-facts .main-facts .fact .key h5 {
    margin: 0px;
}

.estate-facts .main-facts::-webkit-scrollbar {
    width: 3px;
    background: transparent; /* make scrollbar transparent */
}

.estate-facts .show-more-facts {
    display: inline-flex;
    margin-left: 17px;
}

.estate-facts .show-more-facts button {
    color: blue;
    background: transparent;
    border-radius: 11px;
    transition: all 400ms ease-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.estate-facts .show-more-facts button:hover {
    transition: all 400ms ease-out;
    box-shadow: 0 4px 8px 0 rgba(32, 140, 255, 0.2), 0 6px 20px 0 rgba(32, 140, 255, 0.19);
}

.estate-facts .more-facts {
    display: none;
    padding-left: 17px;
    padding-top: 11px;
    padding-bottom: 16px;

    overflow-x: scroll;
    width: -webkit-fill-available;
}

.estate-facts .more-facts::-webkit-scrollbar {
    width: 3px;
    background: transparent; /* make scrollbar transparent */
}

.estate-facts .more-facts .fact {
    white-space: nowrap;
    margin: 11px;
    margin-left: 0px;
    margin-top: 3px;
    border-radius: 11px;
    padding: 7px;

    transition: all 400ms ease-out;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.estate-facts .more-facts .fact:hover {
    transition: all 400ms ease-out;
    box-shadow: 0 4px 8px 0 rgba(32, 140, 255, 0.2), 0 6px 20px 0 rgba(32, 140, 255, 0.19);
}

.estate-facts .more-facts .fact .key h5 {
    margin: 0px;
}

.estate-facts .more-facts .fact .values .value {
    width: max-content;
}

.estate-facts .more-facts .fact .values .value .subKey {
    display: inline-flex;
    padding-right:11px;
    width: fit-content;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.estate-facts .more-facts .fact .values .value .subValue {
    display: inline-flex;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.estate-facts .more-facts .fact .key {
    display: block;
    padding-right: 5px;
    width: max-content;
}

.estate-facts .more-facts .facts {
    display: inline-flex;
}


