.card {
    background-color: transparent;
    border: white;
    display: inline-block;
    margin: 11px;
    border-radius: 34px;
    height: 487px;
    width: 390px;

    word-wrap: normal;

    transition: all 400ms ease-out;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    transition: all 400ms ease-out;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    box-shadow: 0 4px 8px 0 rgba(32, 140, 255, 0.2), 0 6px 20px 0 rgba(32, 140, 255, 0.19);
    /*width: 379px;*/
    /*height: 489px;*/
}

.card-img-top {
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    height: 374px;
}

span.card-img-overlay {
    margin-left: 320px;
    margin-top: 13px;
    background: rgb(9, 201, 153);
    padding: 2px;
    border-radius: 10px;
    clip-path: circle(30% at 50% 50%);
    cursor: pointer;
    height: 33px;
    width: auto;
    color: white;
    text-align: center;
    transition: all .5s ease-in-out;
}

span.card-img-overlay:hover {
    clip-path: circle(75%);
    background: white;
    margin: 0px;
    border-radius: 31px 31px 0px 0px;
    height: 374px;
}

span.card-img-overlay:hover .btn {
    color: white;
}

.btn {
    color: white;
    padding: 0px;
}

.optionsHeading {
    color: lightgrey;
    letter-spacing: 1.5px;
    font-size: 35px;
    margin-bottom: 40px;
}

.btn-group-vertical {
    align-items: center;
}

.optionsBtn {
    letter-spacing: 1.5px;
    font-size: 20px;
    margin: 10px;
    background: white;
    border-radius: 34px;
    padding: 7px;
    border: white;
    transition: all 400ms ease-out;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-width: 2px;
}

.optionsBtn:hover {
    transition: all 400ms ease-out;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    box-shadow: 0 4px 8px 0 rgba(32, 140, 255, 0.2), 0 6px 20px 0 rgba(32, 140, 255, 0.19);
}

div.card-img-overlay {
    margin-top: 357px;
    margin-left: 11px;
    display: inline-block;
    align-self: center;
    width: fit-content;
    height: fit-content;
    text-align: center;
    letter-spacing: 1.5px;
    background-color: #218cff;
    color: white;
    border-radius: 34px;
    font-size: 13px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 4px;
}

.card-body {
    height: 111px;
    background-color: white;
    flex: 1 1 auto;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    border: red;
    border-color: red;
    padding: 1.25rem;
    padding-left: 16px;
    text-align: justify;
}

.card-body .estateAddress {
    font-weight: bold;
    white-space: nowrap;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-body .estateAddress {
    padding: 5px;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.card-body .estateConfig {
    margin-left: 0px;
    padding: 5px;
    color: darkgray;
    align-items: center;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.card-body .estateConfig .fas {
    padding-left: 11px;
    padding-right: 3px;
}

.card-body .estateConfig .fas.special {
    padding-left: 0px;
}

.card-body .estatePrice {
    display: inline-block;
    padding: 5px;
    float: right;
    color: #218cff;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.currencyType {
    display: inline-block;
}