.estate-filter .filters {
    margin-left: 28px;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 28px;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.estate-filter .filters .dropdown {
    display: inline-flex;
    margin-left: 13px;
}

.estate-filter .filters .dropdown > button {
    color: #218cff;
    border-radius: 31px;
    padding: 5px;
    background-color: transparent;
}

.estate-filter .filters > .btn.btn-primary {
    padding: 5px;
    margin-left: 13px;
    background-color: transparent;
    color: #218cff;
    border-radius: 31px;
}

.estate-filter .filters .btn .fas {
    margin-left: 5px;
}

.estate-filter .filter-applied-list {
    margin-left: 117px;
}

.estate-filter .filter-applied-list .btn {
    background-color: transparent;
    color: darkgray;
    font-size: small;
    margin-top: 5px;
    padding: 3px;
    border-radius: 13px;
    border: 1px solid darkgray;
    margin-right: 5px;
}