.estate-location {
    margin: 17px;
}

.estate-location .title {
    margin: 7px 0px 5px 17px;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.estate-location .neighborhood-scores {
    margin: 17px;
}

.estate-location .neighborhood-scores .score .type {
    width: fit-content;
    background-color: #FFE53B;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    -webkit-background-clip: text;
    color: transparent;
}

.estate-location .neighborhood-scores .score > div {
    display: inline-flex;
}

.estate-location .map {
   margin: 17px;
}

.estate-location .map > div {
    position: relative!important;
    width: 100%!important;
    height: 300px!important;
}