.estate-location .map {
    margin: 17px;
}

.estate-location .map > div {
    position: relative!important;
    width: 100%!important;
    height: 300px!important;
}

.estate-location {
    margin: 17px;
}

.estate-location .title {
    margin: 7px 0px 5px 17px;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}